body {
  padding: 0;
  margin: 0;
}

.bx-shdw-0 {
  box-shadow: none;
}

.main-content {
  margin-top: 70 px;
  padding: 30 px 15 px;
  min-height: calc(100 vh - 123 px);
}

.fxd-head {
  position: fixed;
  width: calc(100% - 260px) !important;
}

@media (max-width: 991px) {
  .fxd-head {
    width: 100% !important;
  }
}
