<mat-toolbar>
  <span>{{this.regService.form.getRawValue().id?'Update User':'Add User'}}</span>
  <span class="fill-remaining-space"></span> <!--  fill space between topic and close button-->
  <button class="btn-dialog-close"  mat-stroked-button (click)="onClose()" tabindex="-1">
<!--    tabindex="-1" so at start this button not get focus-->
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form  *ngIf="roles !== undefined" [formGroup]="regService.form" class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controls-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
<!--          as mandatory field validation is added to formController it self not as [!required] like other fields-->
          <input matInput formControlName="username" placeholder="Username*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
<!--          placeholder * not needed as [!required] will add * after the palce holder. [!required] needed as
validation only for add user-->
          <input matInput formControlName="password" type="password" placeholder="Password"
                 [required]="!regService.form.getRawValue().id">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" [required]="!regService.form.getRawValue().id">
          <mat-error>Invalid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="roleId" placeholder="Role" [required]="!regService.form.getRawValue().id">
            <ng-container *ngFor="let role of roles.payload">
              <mat-option value="{{role.id}}">{{role.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controls-container">
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="dob" [matDatepicker]="picker" placeholder="Date of Birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="phoneNo" placeholder="Phone Number">
          <mat-error>Minimum 10 characters needed.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
<!--   *ngIf="regService.form.getRawValue().id === null"-->
  <div class="button-row">
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="regService.form.invalid">
      {{this.regService.form.getRawValue().id?'Update':'Add'}}
    </button>
  </div>
</form>
